body {
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #059e95;
  border-radius: 1rem;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
}

.text-primary {
  color: #a0ef94;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

a:hover {
  color: #a0ef94;
}

.circle {
  aspect-ratio: 1;
  position: absolute;
  display: block;
  border-radius: 50%;
  z-index: -1;
}

.circle-primary {
  background-color: #a0ef94;
}

.circle-grey {
  background-color: #f3f3f3;
}
